@model UserModel
@{
    ViewData["Title"] = "Index";
}

<form asp-action="Action" method="post">
    <button type="submit" class="btn btn-outline-primary" name="action" value="Block">Block <i class="fa-solid fa-lock"></i></button>
    <button type="submit" class="btn btn-outline-primary" name="action" value="Unblock"><i class="fa-solid fa-unlock"></i></button>
    <button type="submit" class="btn btn-danger" name="action" value="Delete"><i class="fa-solid fa-trash-can"></i></button>
    <table class="table table-striped">
        <thead class="table-secondary">
            <tr>
                <th>
                    <input id="select-all" type="checkbox" asp-for="@Model.SelectAll" />
                </th>
                <th>
                    Name
                </th>
                <th>
                    Email
                </th>
                <th>
                    Last login
                </th>
                <th>
                    Status
                </th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Users.Count(); i++)
            {
                <tr>
                    <td>
                        <input type="checkbox" asp-for="@Model.Users[i].Selected" />
                        <input type="hidden" asp-for="@Model.Users[i].Id" />
                        <input type="hidden" , asp-for="@Model.Users[i].ConcurrencyStamp" />
                    </td>
                    <td>
                        @Model.Users[i].Name
                    </td>
                    <td>
                        @Model.Users[i].Email
                    </td>
                    <td>
                        @Model.Users[i].LastVisit
                    </td>
                    <td>
                        @(Model.Users[i].IsActive ? "Active" : "Blocked")
                    </td>
                </tr>
            }
        </tbody>
    </table>
    
</form>

@section scripts
    {
    <script>
        $(function () {
            var selectAll = $('#select-all');
            var usersCheckboxes = $("input:checkbox[name^='Users']");

            selectAll.change(function () {
                usersCheckboxes.prop('checked', $(this).prop('checked'));
            })

            usersCheckboxes.change(function () {
                var allChecked = usersCheckboxes.length === usersCheckboxes.filter(":checked").length;
                selectAll.prop("checked", allChecked);
            })
        });
    </script>
}